/* colore nav bar */
nav, body{
    background-color: #141414;
}

.profilePagIndex, .search{
    border: none;
}

.collapse, .collapsing{
    width: 10em;
}
.avatar, .search{
    background-color: transparent;
}

.down:hover{
    transform: rotate(180deg);
    transition: all 0.5s;
}

.dropdown button{
    border-radius: 0px;
    background-color: black;
    border: solid 1px
}

.dropdown button::after{
    margin-left: 2rem;
}

.grouping
{

    border-radius: 0px;
}

.profile{
    background: linear-gradient(180deg, black, #141414, #141414, #141414, #141414, #141414, #141414);
}

.profNick{
    border-radius: 0px;
    background-color: #666666;
    border: none;
}

#maturity{
    background-color: #333333;
    border: none;
}

.custom-button{
    border: solid 1px;
    border-color: #7c7c7c;
    background-color: transparent;
    color: #7c7c7c;

    padding-block: 0.5em;
    padding-inline: 2em;
}

.profile .dropdown button::after {
    margin-left: 1em;
}

.border-bottom, .border-top{
    --bs-border-opacity: aliceblue;

}

label img{
    position: absolute;
    height: 0.5em;
    inset: 0;
    margin: auto;
}

.footer{
    color: grey;
    font-size:x-small;

    margin-top: 10em;

}

/* .footer .row{
    margin-inline: 27em;
} */

.footer p{
    width: 15em;
}